.header {
  text-align: center;
  padding: 2rem 0;
  background-color: #2196f3;
  color: #fff;
}

.light {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #fff;
}

.split {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.left {
  width: 25%;
}
.left > pre {
  width: 90%;
}
.right {
  width: 75%;
}

@media only screen and (max-width: 1024px) {
  .left {
    width: 100%;
  }
  .left pre {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}

@media print {
  .left {
    display: none;
  }
  .right {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
